@import url("pygment.css");

body {
  background: #F5F4EF;
  color: #000305;
  font-size: 16px;
  font-family: 'IBM Plex Serif', serif;
  margin: 0;
  padding: 10px;
  text-align: left;
}

.highlight {
  overflow: auto;
  padding: 8px;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 14px;
}

.highlight > pre {
  margin-block: auto;
}

p .highlight {
  background: none;
  padding: inherit;
}

.links {
  display: inline;
  list-style: none;
  padding: 0px;
}

.links li {
  display: inline;
  margin: 5px;
}

.links-list {
  list-style: none;
  padding-left: 0em;
}

.entry-content img {
  max-width: 100%;
}

.entry-content ol ul {
  padding-left: 0em;
}

.entry-content blockquote {
  background: #EDE4DC;
  border-left: 5px solid #c18a6e;
  margin: 0px;
  padding: 2px 10px;
}

.entry-content dl {
  background: #e8dced;
  border-left: 5px solid #b62fef;
  margin: 0px;
  padding: 2px 10px;
}

#contentinfo .title {
  display: inline;
}

#banner {
  text-align: center;
}

#menu ul {
  list-style: none;
}

#menu li:first-child {
  margin: 0px;
}

#menu li {
  display: inline;
  margin: 5px;
}

#menu li a {
  /* color: #efa0da; */
  text-decoration: line-through;
}

#menu li a:hover {
  /* color: #efa0da; */
  text-decoration: wavy;
}

#menu li.active a {
  /* color: #efa0b3; */
  text-decoration: none;
  text-transform: uppercase;
}

.body {
  margin: auto;
  max-width: 800px;
}

#content {
  max-width: 760px;
}

#content .post-info {
  text-transform: lowercase;
}

#contentinfo {
  margin-top: 60px;
}

#about {
  margin: 20px 0px;
}

#post-list {
  padding-left: 1em;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 4px;
}

th {
  background-color: #c18a6e;
  color: white;
}

tr:nth-child(even) {
  background-color: #EDE4DC;
}

tr:hover {
  background-color: #eddcdd;
}

video {
  width: 100%;
  border-right: 5px solid #c18a6e;
  border-bottom: 3px solid #eddcdd;
}
